 ![Emil]()

# Introduction to Python

Values, Variables and types

### Values

In [1]:
print(3)

3

The `print()` function allows you to see the results displayed. But as we are in a Jupyter Notebook, this is the normal behaviour after execution of a block of code. Note that if the block in question returns nothing, nothing will be displayed.

In [6]:
3

3

We can use Python for its most basic use, the calculator!

In [7]:
3 + 4

7

In [11]:
12 / (3 + 5)

9

In [12]:
16 + 12 * (12 / (3 + 4))

36.57142857142857

Reading becomes difficult, you need to save the intermediate results! How to do it? --> Use variables

### Variables

Using the previous example:

In [2]:
a = 3 + 4
b = 12 / a
c = 16 + 12 * b
print(c)

36.57142857142857

The result is the same but it is much more readable! We have used here 3 variables `a`, `b`, `c`

variables' names are a string, which cannot start with a number and cannot have a space!

Furthermore, the `=` sign does not test for equality but is an affectation. The instruction `a = 3 + 4` tells the computer to put the value 7 in the variable `a`.

You can also "overwrite" the value of a variable with another value. The following instructions calculate the same result but using only one variable!

In [ ]:
a = 3 + 4
a = 12 / a
a = 16 + 12 * a
print(a)

36.57142857142857

The "#" symbol represents a comment and is not executed.

In [ ]:
print(a) # I can write what I want, it's just to explain a line of code

36.57142857142857

### Types

Each variable, being a value, can be of several different types in Python.

The `type()` function returns the type of the variable or value passed in brackets:

In [ ]:
print(type(1)) # int for integer

print(type(-1.0)) # float

print(type("hello world!")) # str for string

<class 'int'>
<class 'float'>
<class 'str'>

What would be the result here ?

In [ ]:
print(type(a))

<class 'float'>

In Python the type of a variable is not definitive and can be changed. For example, we will change the type of the variable `a` by casting it to int. The consequence will be that we will truncate the decimals.

In [ ]:
print(int(12.9))
print(int(a))

12
36

What would be the result here ?

In [ ]:
a

36.57142857142857

No assignment was made! The variable `a` must be overwritten by itself transformed into int.

In [ ]:
a = int(a)
print(a)

36

### String

A string can contain any character and not only our alphabet (all ascii codes are accepted)

In [ ]:
s = "hello world 2020!" # we added spaces, numbers and special characters
print(type(s))
print(s)

<class 'str'>
hello world 2020!

Two strings can be concatenated using the `+` operation

In [ ]:
s = "Hello world" + " 2020" + "!"
s

'Hello world 2020!'

Not very practical when you want to insert it in a specific place! There are several ways to do this, but the most common is to use f-string! Note that the character `f` at the beginning is not a typo but indicates to Python that we are using f-string.

In [ ]:
year = 2020
s = f"hello world {year}!"
s

'hello world 2020!'

## Data structures

For now, we only have the so-called primary types, but what if we want to store multiple values? as many variables as values ? You can imagine the hell for the organization. 

--> Fortunately, there are data structures :)

### List, identifier [ ]

In [ ]:
l = [1, 3, 5]
l

[1, 3, 5]

A list contains a sequence of values, in an ordered way, you **don't need** to:
- define the size of the list in advance
- have the same type for all values in the list

In [3]:
l = [1, "Hello", 3.4]
l

[1, 'Hello', 3.4]

Type of variable `l` is now a **list**

In [4]:
type(l)

list

#### Accessing a value

To access a value, we use the position (index) of the item in the list. **Note that in Python, we start counting from 0 !**

In [ ]:
print(l[0]) # first element
print(l[2]) # third element

1
3.4

Items can also be accessed from the end by using negative indexes.

In [ ]:
print(l[-1]) # last element 
print(l[-2]) # second to last item

3.4
Hello

#### Accessing multiple values (slicing)

A sub-list of consecutive values can be accessed using slicing operation, i.e. by specifying the index of the first item to be retrieved and the index of the last item to be retrieved.

In [ ]:
print(l[0:2]) # items with indexes 0 and 1
print(l[:2]) # two first

[1, 'Hello']
[1, 'Hello']

In [ ]:
print(l[-2:]) # two last

['Hello', 3.4]

#### Modify a value

To change a value, we simply treat each item in the list as a variable. If we want to change the first value in the list l by 18, we would do:

In [ ]:
l[0] = 18 # reminder : index 0 for the first element
l

[18, 'Hello', 3.4]

Look, the result has changed!

#### Add a value

To add a value to the list, several functions can be used:

In [ ]:
# add value 89 in index 1
l.insert(1, 89) # the insert function accepts two parameters in brackets, the index and the value to be added
print(l)

[18, 89, 'Hello', 3.4]

In [ ]:
l.append(9) # the append function is a special case of insert function, because it adds to the end the value
print(l)

[18, 89, 'Hello', 3.4, 9]

#### Delete a value

To delete a value by index:

In [ ]:
l.pop(2)
print(l)

[18, 89, 3.4, 9]

#### Nested list

There is nothing to prevent you from adding to a list, a new list.

In [ ]:
print(l)

l2 = [-2, -3, -0.123]
l.append(l2)
print(l)

[18, 89, 3.4, 9]
[18, 89, 3.4, 9, [-2, -3, -0.123]]

#### Other useful functions

To calculate the length of a list, use the `len()` function in Python:

In [ ]:
len(l)

5

### Dict, identifier { }

In [ ]:
d = {"first_name": "Paul",
     "last_name": "Mochkovitch"}
d

{'first_name': 'Paul', 'last_name': 'Mochkovitch'}

A dictionary, unlike a list, has no order. It is made up of keys / values.

The keys of a dictionary are **unique** and the values can be of any type (including data structures)

The variable `l` defined previously is of type dict

In [ ]:
type(d)

dict

#### Access a value

To access an element of a dictionary, it is via the name of its key and not the index number because there is none! You can imagine that all the keys are in the first position. It is as fast to access one key as another.

For example, if we want to access the value of the `first_name` key, we would write:

In [ ]:
d["first_name"] # look we use brackets [] to access a key's value

'Paul'

#### Modify a value

To modify a value, you just have to consider the key as a variable. If we want to modify the value of the key `first_name` by Victor, we will write:

In [ ]:
d["first_name"] = "Victor"
d

{'first_name': 'Victor', 'last_name': 'Mochkovitch'}

#### Add a key

To add a new key, it is enough to proceed as if one wanted to change its value. Since the key does not exist, it will create it with the assigned value.

In [ ]:
d["age"] = 30
d

{'first_name': 'Victor', 'last_name': 'Mochkovitch', 'age': 30}

#### Delete a key

To delete a key, we use the same `pop` function as for lists.

In [ ]:
d.pop("age")
d

{'first_name': 'Victor', 'last_name': 'Mochkovitch'}

#### Nested dictionnaries

In the same way that there is a list of list, a dictionary can have a key value that is also a dictionary. It is even very common.

In [ ]:
d["measures"] = {"height(cm)": 189, "weight": 100}
d

{'first_name': 'Victor',
 'last_name': 'Mochkovitch',
 'measures': {'height(cm)': 189, 'weight': 100}}

How to access the "weight" value?

In [ ]:
d["measures"]["weight"]

100

#### Other functions

To list all the keys in a dictionary, you can use the `.keys()` function

In [ ]:
d.keys()

dict_keys(['first_name', 'last_name', 'measures'])

To count the number of keys in a dictionary, simply use the same `len` function

In [ ]:
len(d)

3

## Conditions & operators

### Comparison operators

- ">": for strictly superior
- ">=" : for greater than or equal to
- "<" : for inferior strict
- "<=" : for less than or equal to
- "==" : to test for equality
- "!=" : to test the difference
- "in": to test if an element is in a list or if an element is a key in a dictionary
- "not in": the opposite of in

In [5]:
a = 3
b = 5
print(a == b)

False

In [ ]:
print(int(a >= b))
print(int(a == a))

0
1

## Conditions

In computer science, we need to distinguish cases, so we use the `if` statement:

In [ ]:
a = 3
b = 5

if a < b:
    print("a is strictly less than b")

a is strictly less than b

**Note**: all statements that are below and offset by a tab will be executed if the condition is true. The offset is fundamental!

With an additionnal `else` clause:

In [ ]:
a = 3
b = 5

if a < b:
    print("a is strictly less than b")
else:
    print("a is greater or equal than b")

a is strictly less than b

For more complicated condition tests, one may want to introduce if-not, `elif`:

In [ ]:
a = 3
b = 3
if a < b:
    print("a is strictly less than b")
elif a == b:
    print("a and b are equals")
else:
    print("a is strictly greater than b")

a et b sont gaux

The conditions can also be combined to create a more complicated criterion, in which case parentheses are essential. The possible operators are `&` for and `|` for or.

In [ ]:
l = [1, 7, 9, 2]

if (l[0] < 3) & (l[3] < 5):
    print("Won !")

Won !

## Loops

To avoid repeating instructions, it is necessary to use loops

In [ ]:
l = [1, 7, 9, 2]

print(l[0])
print(l[1])
print(l[2])
print(l[3])

1
7
9
2

In [ ]:
for number in l:
    print(number)

1
7
9
2

`number` is here a variable that could have been called anything, it will scan all the values that are to the right of the `in` operator, in this case [1, 7, 9, 2].

There are therefore 4 values taken by the variable `number`:
- number=1 for the first execution of the lines below
- number=7 for the second execution of the lines below
- number=9 for the third ...
- number=2 for the fourth ...

Below the for, we put the insctructions we want!

To iterate on the keys of a dictionary we proceed in the same way:

In [ ]:
d = {"cat": "gray", "dog": "black"}

for key in d:
    print(key)

cat
dog

## Functions

To reproduce a series of instructions easily, functions are useful. A function is given a name and can take parameters as inputs and use them in its instructions.

For example, let's write a function that simply displays "Hello".

In [ ]:
def print_hello_world():
    print("Hello")

In [ ]:
print_hello_world()

Hello

With a parameter:

In [ ]:
def print_hello_world(first_name):
    print("Hello {}".format(first_name))

In [ ]:
print_hello_world("Paul")

Hello Paul

Here the `first_name` parameter is mandatory but you may want to make it optional by adding a default value.

In [ ]:
def print_hello_world(first_name="world"):
    print("Hello {}".format(first_name))

In [ ]:
print_hello_world()

Hello world

In [ ]:
print_hello_world("Paul")

Hello Paul

# Object-oriented programming

Object-oriented programming (OOP) allows you to create entities (objects) that you can manipulate. Object-oriented programming requires solid and clear structures. Objects can interact with each other, which makes the code much easier to understand and maintain.

Python is an object-oriented programming language. All elements from now were objects...

## Class

A class contains functions and attributes that define an object. The functions of a class are called "methods".

In [ ]:
class Car:

	def __init__(self):
		self.brand = "Ferrari"

The Car class can be seen as a cars factory.

The `init()` method is called when an object is created.

`self.brand` is a variable relative to the object. This is called a class attribute. 

In our case, we define a class attribute brand and affects by default "Ferrari".

## Objects

An object is an **instance of a class** . You can create as many objects as you like with a class.

In [ ]:
my_car = Car()

In [ ]:
print(type(my_car))

<class '__main__.Car'>

## Class attributes

Class attributes are used to store information at the class level. They are similar to variables.

In [ ]:
# Print class attribute brand. By default it is a Ferrari.
print(my_car.brand)

# To modify a class attribute value
my_car.brand = "BMW"
print(my_car.brand)

Ferrari
BMW

## Class methods

Methods are functions defined in a class. They always have `self` as the first argument to indicate that they belong to the class but may have other arguments afterwards.

In [ ]:
class Car:

    def __init__(self):
        self.brand = "Ferrari"

    def fill_gasoline(self, gasoline="diesel"):
        print(f"The car is filling up with {gasoline}")

In [ ]:
my_car = Car()
my_car.fill_gasoline("SP98")

The car is filling up with SP98

How would you qualify the nature of `__class__` and `upper()` in the following code?

In [ ]:
s = "sophie"

print(s.__class__)
print(s.upper())

<class 'str'>
SOPHIE

__class__ is a class attribute and upper is a class method, you need to use () to call upper method.

# Let's code !