In [3]:
import pandas as pd 

house_price = pd.read_csv('/Users/etiennecampredon/Downloads/Iowa_housing_prices.csv')
house_price

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:
house_price.shape

In [8]:
from sklearn.linear_model import train_test_split

X_train, X_test, y_train, y_test = train_test_split(house_price[['YrSold'],['LotArea']],
                                                    house_price['SalePrice'],
                                                    test.size == 0.2)

#X_train.shape,...

ImportError: cannot import name 'train_test_split' from 'sklearn.linear_model' (/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/sklearn/linear_model/__init__.py)

In [4]:
from sklearn.linear_model import LinearRegression

lin _reg = LinearRegression()
lin_reg_fit(X_train, y_train)

ModuleNotFoundError: No module named 'sklearn'

In [ ]:
lin_reg.intercept_, lin_reg.coef_[0]

lin_reg.score(X_train, y_train)

In [ ]:
lin_reg.score(X_test, y_test)

In [ ]:
from sklearn.svm import SVR

svr = SVR()
svr.fit(X_train, y_train)

In [ ]:
svr.score(X_train, y_train)

# Neural Network Regression

In [ ]:
from sklearn.linear_model import train_test_split

X_train, X_test, y_train, y_test = train_test_split(house_price[['YrSold'],['LotArea']],
                                                    house_price['SalePrice'],
                                                    test.size == 0.2)

#X_train.shape,...

In [ ]:
from sklearn.neural_network import MLPRegressor

mlp = MLPRegressor()

In [ ]:
mlp.score(X_train, y_train)

# Time series predictions

## The naive seasonal model

Simple Model adapted to time series that fluctuate from season to season. It describes as "seasonality" a repeated pattern.

To prepare the data, **first** convert to datetime with pandas pd.to_datetime, **second** define dates as index, **then** set the train and test datasets with temporal_train_test_split(df, test_size = 12). The *test_size* is the number of periods.

In [ ]:
## prepare the object from the library

from sktime.forecasting.naive import NaiveForecaster

forecaster = NaiveForecaster (sp=12) 

forecaster.fit(df_train['nombre_naissances']

In [ ]:
## Prediction method 

horizon = np.arange(1, 12+1)

#np.arange(1, 12+1) equals to [A, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

preds = forecaster.predict(fh=horizon)

## The Holt Winters model

Exponential smoothing models.Also shows exponentiality of the seasonaility (mixes seasonality, level and trend)

see https://docs.google.com/presentation/d/162XT-VgLfs_EbEmqW51pe88-v4SQG1YXuSIc-Jzgy2E/edit#slide=id.p12

## Three families to measure the errors

### -> Mean Absolute Error

### -> Symmetric Mean Percentage Error

### -> Mean Absolute Scaled Error